.call_me {
  grid-area: call_me;
  display: flex;
  align-items: center;
  padding-top: 20px; }

.call_me_block {
  display: grid;
  grid-template-areas: "call_me_form" "call_me_bottom";
  grid-template-rows: 310px 150px;
  grid-template-columns: 500px;
  width: 500px;
  grid-area: call_me_block;
  position: relative;
  border-radius: 10px; }

/*.call_me_top{
    grid-area: call_me_top;
    display: grid;
    grid-template-areas: "new_price";
    border-radius: 10px 10px 0 0;
    background: #1b500a;
}*/
.new_price {
  grid-area: new_price;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 22px;
  text-transform: uppercase;
  padding-left: 20px;
  border-radius: 20px 20px 0 0;
  font-family: 'Open Sans', sans-serif; }

.input {
  height: 55px;
  width: 250px;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  background: rgba(143, 143, 143, 0.527);
  margin-right: 20px; }

.call_me_form {
  grid-area: call_me_form;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px;
  font-family: 'Source Sans Pro', sans-serif; }

.call_me_bottom {
  grid-area: call_me_bottom;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.form_top, .form_bottom {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.form_tel, .form_mail, .form_name, .form_surn {
  padding-top: 35px; }
  .form_tel p, .form_mail p, .form_name p, .form_surn p {
    padding-left: 2px;
    padding-bottom: 2px; }

.submit {
  height: 60px;
  width: 280px;
  padding: 0 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  border-radius: 4px; }

#sub {
  width: 330px;
  height: 60px;
  background: #79897a;
  border: none;
  font-size: 22px;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.sub_pre {
  width: 50px;
  height: 60px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #435344;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff; }

.call_me_bottom_info {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  align-items: center;
  padding: 0 20px;
  font-family: 'Source Sans Pro', sans-serif; }

.call_me_blocked {
  margin: 20px 0; }
  .call_me_blocked img {
    margin-right: 5px; }

@media screen and (max-width: 650px) {
  .form_top, .form_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .form_tel, .form_mail, .form_name, .form_surn {
    padding-top: 35px;
    align-self: center; }
    .form_tel p, .form_mail p, .form_name p, .form_surn p {
      padding-left: 2px;
      padding-bottom: 2px; }
  .call_me_block {
    display: grid;
    grid-template-areas: "call_me_form" "call_me_bottom";
    grid-template-rows: 510px 150px;
    grid-area: call_me_block;
    position: relative;
    border-radius: 10px; }
  .call_me_bottom {
    flex-direction: column; }
  .call_me_bottom_info {
    align-self: center; }
  #sub {
    width: 220px; }
  .sub_pre {
    width: 30px; } }

@media screen and (max-width: 550px) {
  .call_me {
    grid-area: call_me;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px; }
  .call_me_block {
    grid-template-columns: 350px;
    justify-content: center; } }
