.block5{
    grid-area: block5;
    display: grid;
    grid-template-areas: "block5_left block5_right";
    grid-template-columns: minmax(100px, 2fr) minmax(600px, 1fr);
    grid-template-rows: 600px;
    background-image: url("/images/block5.png");
    background-position:  center;
    background-size: cover;
        overflow: hidden;

}
.block5_left{
    grid-area: block5_left;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 44px;
    margin-right: 40px;

}
.block5_right{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-inline-start: 30px;
    margin-right: 40px;
    opacity: 0;

}

#block5_right{
    //position: relative;
    grid-area: block5_right;
   // overflow-x:hidden;  /*для горизонтального*/
    right: -10000px;
    transition: all 0.6s;

}
.block5_right_title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 48px;
    font-family: 'Lora', serif;

}
.block5_li2{
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;

}
.block5_right_body{
    display: grid;
    grid-template-areas: "block5_left_ul"
    "call_me";
    grid-template-columns: minmax(320px, 1fr);
}
.block5_left_ul{
    grid-area: block5_left_ul;
}
@import "form.scss";
.color{
    color: white;
}
.block5_li1{
    text-transform: uppercase;
}



.block5_right { width: 100%; height: 600px; background-color: rgba(121, 137, 122, 0.722); position: relative;}
.block5_right::before{ display: block; content: ""; 	border-bottom: 600px solid rgba(121, 137, 122, 0.722); 
	border-left: 160px solid transparent;
display: block;
width: 0;
height: 0; position: absolute; top: 0px; left: -160px; margin-bottom: 0px;}
@media screen and (max-width:900px){
    .block5{
        grid-template-areas: "block5_right";
        grid-template-columns:1fr;

        

    }
    .block5_left{
        display: none;
    }
    .block5_right{
        background-size: cover;
        background: rgba(121, 137, 122, 0.722);
        justify-content: center;

        

    }
    .block5_right::before{
        display: none;
    }
}
@media screen and (max-width:900px){
        .block5_right_title{
        padding-top: 25px;
    
    }
    .block5_right { width: 100%; height: 800px; background-color: rgba(121, 137, 122, 0.722); position: relative;}
    .block5_right::before{
        display: none;
    }
    .block5{
    grid-template-rows: 800px;
}
.block5_right_title{
    align-items: flex-end;
}

}
@media screen and (max-width:550px){



}
